*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 106, 150);
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 10px;
}
nav li{
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: azure;
    
}
.logo{
    padding-left: 10px;
}
.logo h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: azure;
    margin-left: 20px;
    width: 250px;
    padding: 10px;
    border: solid 10px rgb(29, 106, 150);
    height: 170px;
    margin-top: 30px;
    border-radius: 10px;
}
.left h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 106, 150);
    text-decoration: underline;
    margin-bottom: 3px;
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(29, 106, 150);
}
input{
    width: 150px;
}
#learn{
    color: rgb(29, 106, 150);
    margin-left: 80px;
    text-decoration: none;
    margin-top: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 2px ;
    border-radius: 4px;
    width: 70px;
}

.hideBlock{
    height: 0;
    width: 400px;
    display: none;
    overflow: hidden;
    transition: 0.5s;
    align-items: center;
}



