*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient( to top,rgb(144, 2, 2),rgb(0, 0, 0),black);
    min-height: 100vh;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 85px;
}
.logo{
    font-size: 30px;
    color: #ff0000;
    text-shadow: 1px 1px 9px black;
    font-style: italic;
    font-weight: bold;
}
.hide-span{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0,0,0,0);
    border: 0;
}
.top-header{
    display: flex;
    justify-content: space-between;
}
.header-form{
    margin-top: 20px;
    margin-right: 30px;
}
.input-label{
    height: 30px;
    padding: 8px;
    margin-left: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #ff0000;
    background-color: rgb(39, 38, 38);
    outline: none;
    color: white;
}
.btn-login{
    background-color: red;
    min-height: 30px;
    width: 70px;
    font-weight: bold;
    font-style: italic;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: gray; 
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.btn-login:hover{
    filter: brightness(1.2);
}
.btn-login:active{
    transform: scale(0.95);
    box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.8),
                0 0 30px 2px rgba(255, 255, 255, 0.4)
}
.btn-conect{
    min-height: 30px;
    width: 70px;
    font-style: italic;
    font-weight: bold;
    background-color: gray;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: gray;
}
.btn-conect:hover{
    filter: brightness(1.2);
}
.btn-conect:active{
    transform: scale(0.95);
    box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.8),
                0 0 30px 2px rgba(255, 255, 255, 0.4);
}
.main-nav{
    border: 1px solid gray;
    width: 1110px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 48px;
    min-height: 50px;
    gap: 2rem;
}
.main-nav a{
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: red;
    text-shadow: 1px 1px 2px rgb(65, 65, 65);
    transition: 0.5s ease;
}
.main-nav a:hover{
    transform: scale(1.1);
    background-color: rgba(201, 201, 201, 0.371);
    box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.8),
                0 0 30px 2px rgba(255, 255, 255, 0.4);
}
b{
    color: red;
    text-shadow: 1px 1px 2px gray;
    margin: 20px;
}
h1{
    color: gray;
    text-shadow: 1px 1px 7px red;
    margin: 5px;
}
p{
    color: red;
    font-weight: bold;
    font-style: italic;
    margin: 20px;
    text-decoration: underline;
    text-shadow: 1px 1px 2px gray;
}
.section-one{
    width: 1100px;
}
.section-one img{
    width: 1150px;
    height: 300px;
    border-color: red;
}
.btn-search-section{
    display: flex;
    justify-content: space-between;
    border: 1px gray solid;
    margin: 0;
    min-height: 40px;
    align-items: center;
    width: 1150px;
}